html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color:white;
    font-family: 'Viaoda Libre', cursive;
}

.name {
    font-size: 9em;
    width: 100vw;
    height: 40vh;
}
.header {
    height: 6vh;
    width: 20vw;
    z-index: 10000;
}

#contact {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 2em;
    height: 6vh;
    width: 8vw;
    position: absolute;
    top: 4vh;
    left: 59vw;
    cursor: pointer;
    z-index: 1000;
}
#contact2 {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 2em;
    height: 6vh;
    width: 8vw;
    position: absolute;
    top: 4vh;
    left: 59vw;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

#projects {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 2em;
    height: 6vh;
    width: 8vw;
    position: absolute;
    top: 4vh;
    left: 74vw;
    cursor: pointer;
}
#projects2 {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 2em;
    height: 6vh;
    width: 8vw;
    position: absolute;
    top: 4vh;
    left: 74vw;
    cursor: pointer;
    display: none;
}
#archives {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 2em;
    height: 6vh;
    width: 8vw;
    position: absolute;
    top: 4vh;
    left: 89vw;
    cursor: pointer;

}
#archives2 {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 2em;
    height: 6vh;
    width: 8vw;
    position: absolute;
    top: 4vh;
    left: 89vw;
    cursor: pointer;
    display: none;
}

#tien {
    position: relative;
    left: 20vw;
    top: 15vh;
    height: 20vh;
    width: 20vw;   
}

#le {
    position: relative;
    top: -5vh;
    left: 50vw;
    transform: translate(-42%);
    height: 20vh;
    width: 10vw;
}

#ba {
    position: relative;
    top: -25vh;
    left: 67vw;
    height: 20vh;
    width: 12vw;
}

#circle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: rgb(0, 0, 0);
    border: none;
    position: relative;
    left: 50vw;
    bottom: -10vh;
    transform: translate(-50%);  
    cursor: pointer;
}
#circle2 {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: rgb(0, 0, 0);
    border: none;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%);  
    cursor: pointer;
}
#circle3 {
    border-radius: 50%;
    width: 2000px;
    height: 2000px;
    background: rgb(0, 0, 0);
    border: none;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
    display: none;  
}
#hi {
    position: relative;
    left: 65vw;
    bottom: 30vh;
    animation: marquee 10s linear infinite;
    z-index: 1000;
}

#container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#fakecontainer{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    background-color: transparent;
    z-index: -1;

}

@keyframes marquee
{
  0%
  {
    transform: translateX(0%);
  }
  100%
  {
    transform: translateX(-130%); 
  }
}

#hi2{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 6em;
    font-weight: 100;
    position: absolute;
    top: 20vh;
    left: 30vw;
    color: white;
    display: none;
}

#email {
    font-weight: 100;
    color: white;
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 1.5em;
    top: 36vh ;
    left: 30vw;
    display: none;
}

#contactava{
    max-width:30%;
    max-height:30%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 23vh;
    left: 10vw;
    display: none;
}

#ellipse1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3.25vh;
    left: 55.5vw;
    background-color: rgb(255, 255, 255);
    height: 7vh;
    width: 13vw;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    display: none;
}

#ellipse2{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3.25vh;
    left: 70.5vw;
    background-color: rgb(255, 255, 255);
    height: 7vh;
    width: 13vw;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    display: none;
}

#ellipse3{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3.25vh;
    left: 85.5vw;
    background-color: rgb(255, 255, 255);
    height: 7vh;
    width: 13vw;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    display: none;
}

#shortname {
    margin: 0;
    padding: 0;
    font-weight: 100;
    position: absolute;
    top: 4vh;
    left: 2vw;
    color: white;
    display: none;
    cursor: pointer;
    z-index: 1000;
}

.container2{
    height: 50vh;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.projectsname{
    padding: 0;
    margin: 0;
    font-size: 3em;
    font-weight: 100;
    color: white;
    display: none;
    cursor: pointer;
    z-index: 1000;
}


#rectangleapc {
    width: 100vw;
    height: 11vh;
    background-color: white;
    position: absolute;
    left: 0vw;
    top: 24vh;
    transform: translate(-50%);
    transform: scaleY(0);
    transform-origin: top;    
}

#rectangleagt {
    width: 100vw;
    height: 11vh;
    background-color: white;
    position: absolute;
    left: 0vw;
    top: 35vh;
    transform: translate(-50%);
    transform: scaleY(0);
    transform-origin: top;  
}

#rectanglefilm {
    width: 100vw;
    height: 11vh;
    background-color: white;
    position: absolute;
    left: 0vw;
    top: 45vh;
    transform: translate(-50%);
    transform: scaleY(0);
    transform-origin: top;  
}

#rectangleglams {
    width: 100vw;
    height: 11vh;
    background-color: white;
    position: absolute;
    left: 0vw;
    top: 55vh;
    transform: translate(-50%);
    transform: scaleY(0);
    transform-origin: top;  
}

#rectangleothers {
    width: 100vw;
    height: 11vh;
    background-color: white;
    position: absolute;
    left: 0vw;
    top: 66vh;
    transform: translate(-50%);
    transform: scaleY(0);
    transform-origin: top;  
}

#filmscroll {
    height: 700vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
}

.slider-container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
}

.slider-items {
    height: 30vh;
    width: 28vw;
    position: absolute;
    background-color:transparent;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider-items:nth-child(1), 
.slider-items:nth-child(2),
.slider-items:nth-child(3) {
    margin-top: 30vh;
}

.slider-items:nth-child(4), 
.slider-items:nth-child(5),
.slider-items:nth-child(6) {
    margin-top: 65vh;
}

.slider-items:nth-child(7), 
.slider-items:nth-child(8),
.slider-items:nth-child(9) {
    margin-top: 100vh;
}

.slider-items:nth-child(10), 
.slider-items:nth-child(11),
.slider-items:nth-child(12) {
    margin-top: 135vh;
}

.slider-items:nth-child(13), 
.slider-items:nth-child(14),
.slider-items:nth-child(15) {
    margin-top: 170vh;
}

.slider-items:nth-child(16), 
.slider-items:nth-child(17),
.slider-items:nth-child(18) {
    margin-top: 205vh;
}

.slider-items:nth-child(19), 
.slider-items:nth-child(20),
.slider-items:nth-child(21) {
    margin-top: 240vh;
}

.slider-items:nth-child(22), 
.slider-items:nth-child(23),
.slider-items:nth-child(24) {
    margin-top: 275vh;
}

.slider-items:nth-child(25), 
.slider-items:nth-child(26),
.slider-items:nth-child(27) {
    margin-top: 310vh;
}

.slider-items:nth-child(28), 
.slider-items:nth-child(29),
.slider-items:nth-child(30) {
    margin-top: 345vh;
}

.slider-items:nth-child(31), 
.slider-items:nth-child(32),
.slider-items:nth-child(33) {
    margin-top: 380vh;
}

.slider-items:nth-child(34), 
.slider-items:nth-child(35),
.slider-items:nth-child(36) {
    margin-top: 415vh;
}
.slider-items:nth-child(37), 
.slider-items:nth-child(38),
.slider-items:nth-child(39) {
    margin-top: 450vh;
}
.slider-items:nth-child(40), 
.slider-items:nth-child(41),
.slider-items:nth-child(42) {
    margin-top: 485vh;
}
.slider-items:nth-child(43), 
.slider-items:nth-child(44),
.slider-items:nth-child(45) {
    margin-top: 520vh;
}
.slider-items:nth-child(46), 
.slider-items:nth-child(47),
.slider-items:nth-child(48) {
    margin-top: 555vh;
}
.slider-items:nth-child(49), 
.slider-items:nth-child(50),
.slider-items:nth-child(51) {
    margin-top: 590vh;
}

.slider-items:nth-child(52), 
.slider-items:nth-child(53),
.slider-items:nth-child(54) {
    margin-top: 625vh;
}

.slider-items:nth-child(55), 
.slider-items:nth-child(56),
.slider-items:nth-child(57) {
    margin-top: 660vh;
}
.slider-items:nth-child(58), 
.slider-items:nth-child(59),
.slider-items:nth-child(60) {
    margin-top: 695vh;
}

.slider-items:nth-child(61), 
.slider-items:nth-child(62),
.slider-items:nth-child(63) {
    margin-top: 730vh;
}

.slider-items:nth-child(64), 
.slider-items:nth-child(65),
.slider-items:nth-child(66) {
    margin-top: 765vh;
}

.slider-items:nth-child(67), 
.slider-items:nth-child(68),
.slider-items:nth-child(69) {
    margin-top: 800vh;
}

.slider-items:nth-child(70), 
.slider-items:nth-child(71),
.slider-items:nth-child(72) {
    margin-top: 835vh;
}

.slider-items:nth-child(73), 
.slider-items:nth-child(74),
.slider-items:nth-child(75) {
    margin-top: 870vh;
}

.slider-items:nth-child(76), 
.slider-items:nth-child(77),
.slider-items:nth-child(78) {
    margin-top: 905vh;
}
.slider-items:nth-child(79), 
.slider-items:nth-child(80),
.slider-items:nth-child(81) {
    margin-top: 940vh;
}
.slider-items:nth-child(82), 
.slider-items:nth-child(83),
.slider-items:nth-child(84) {
    margin-top: 975vh;
}
.slider-items:nth-child(85), 
.slider-items:nth-child(86),
.slider-items:nth-child(87) {
    margin-top: 1010vh;
}
.slider-items:nth-child(88), 
.slider-items:nth-child(89),
.slider-items:nth-child(90) {
    margin-top: 1045vh;
}

.slider-items:nth-child(91), 
.slider-items:nth-child(92),
.slider-items:nth-child(93) {
    margin-top: 1080vh;
}

.slider-items:nth-child(94), 
.slider-items:nth-child(95),
.slider-items:nth-child(96) {
    margin-top: 1115vh;
}

.slider-items:nth-child(97), 
.slider-items:nth-child(98),
.slider-items:nth-child(99) {
    margin-top: 1150vh;
}

.slider-items:nth-child(100), 
.slider-items:nth-child(101),
.slider-items:nth-child(102) {
    margin-top: 1185vh;
}

.slider-items:nth-child(103), 
.slider-items:nth-child(104),
.slider-items:nth-child(105) {
    margin-top: 1220vh;
}

.slider-items:nth-child(106), 
.slider-items:nth-child(107),
.slider-items:nth-child(108) {
    margin-top: 1255vh;
}

.slider-items:nth-child(109), 
.slider-items:nth-child(110),
.slider-items:nth-child(111) {
    margin-top: 1290vh;
}

.slider-items:nth-child(112), 
.slider-items:nth-child(113),
.slider-items:nth-child(114) {
    margin-top: 1325vh;
}

.slider-items:nth-child(115), 
.slider-items:nth-child(116),
.slider-items:nth-child(117) {
    margin-top: 1360vh;
}

.slider-items:nth-child(118), 
.slider-items:nth-child(119),
.slider-items:nth-child(120) {
    margin-top: 1395vh;
}



.slider-items:nth-child(3n+1) {
    margin-left: 3vw;
}

.slider-items:nth-child(3n+2) {
    margin-left: 36vw;
}

.slider-items:nth-child(3n+3) {
    margin-left: 69vw;
}


.sliderimg {
    max-width: 28vw;
    max-height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.apcprojectsname{
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: black;
    cursor: pointer;
    z-index: 1000;
    /* display: none; */
}

#tan {
    padding: 0;
    margin: 0;
    height: 30vh;
    width: 28vw;
    cursor: pointer;
    position: absolute;
    top: 20vh;
    left: 2vw;

}

#cleansed {
    padding: 0;
    margin: 0;
    height: 30vh;
    width: 28vw;
    cursor: pointer;
    position: absolute;
    top: 20vh;
    left: 49vw;
    transform: translateX(-50%);

}
#abysm {
    padding: 0;
    margin: 0;
    height: 30vh;
    width: 28vw;
    cursor: pointer;
    position: absolute;
    top: 20vh;
    right: 2vw

}

.apcprojectscover{
    max-width: 28vw;
    max-height: 30vh;
}

#sloth {
    padding: 0;
    margin: 0;
    height: 30vh;
    width: 28vw;
    cursor: pointer;
    position: absolute;
    top: 60vh;
    left: 2vw;
}

#office {
    padding: 0;
    margin: 0;
    height: 30vh;
    width: 28vw;
    cursor: pointer;
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translateX(-50%);
}

#homesick {
    padding: 0;
    margin: 0;
    height: 60vh;
    width: 28vw;
    cursor: pointer;
    position: absolute;
    top: 60vh;
    right: 2vw

}

.apcprojects {
    display: none;
    opacity: 0;
}

#tanname{
    padding: 0;
    margin: 0;
    width: 4vw;
    height: 5vh;
}

#slothname{
    padding: 0;
    margin: 0;
    width: 6vw;
    height: 5vh;
}

#cleansedname{
    padding: 0;
    margin: 0;
    width: 9vw;
    height: 5vh;
}

#theofficeplaygroundname{
    padding: 0;
    margin: 0;
    width: 23vw;
    height: 5vh;
}

#homesickname{
    padding: 0;
    margin: 0;
    width: 10vw;
    height: 5vh;
}

#abysmname{
    padding: 0;
    margin: 0;
    width: 7vw;
    height: 5vh;
}

#tanscroll{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 600vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    overflow: scroll;
    display: none;
}

#tanname2{
    color: white;
    font-size: 10em;
    font-weight: 100;
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
}

#tancirclecolor{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:#988D05;
    border: none;
    position: absolute;
    top: 30vh;
    left: 60vw;
    cursor: pointer;
}

#tancirclecolor2{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    border: none;
    position: absolute;
    top: 30vh;
    left: 60vw;
    cursor: pointer;
    display: none;
    opacity: 0;
}
#tanname3{
    color: white;
    font-size: 10em;
    font-weight: 100;
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    opacity: 0;
}

#tandefinition{
    color: white;
    font-size: 2em;
    font-weight: 100;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%);
    opacity: 0;
}

#tan1 {
    max-height:30vh;
    max-width: 30vw;
}

.tan-slider-items {
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 70vw;
    background-color:transparent;
}

#tansi1{
    position: absolute;
    top: 100vh;
    left: 50vw;
    transform: translateX(-50%);

}

#tansi2{
    position: absolute;
    top: 200vh;
    left: 47vw;
    transform: translateX(-50%);
}

#tansi3{
    position: absolute;
    top: 200vh;
    left: 90vw;
    transform: translateX(-50%);
}

#tansi4{
    position: absolute;
    top: 300vh;
    left: 47vw;
    transform: translateX(-50%);
}

#tansi5{
    position: absolute;
    top: 300vh;
    left: 90vw;
    transform: translateX(-50%);
}

#tansi6{
    position: absolute;
    top: 400vh;
    left: 47vw;
    transform: translateX(-50%);
}

#tansi7{
    position: absolute;
    top: 500vh;
    left: 50vw;
    transform: translateX(-50%);
}

.tan-slider-image {
    max-width: 70vw;
    max-height: 80vh;
}

#cleansedscroll{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    overflow: scroll;
    display: none;
}

#cleansedcirclecolor{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:#21373D;
    border: none;
    position: absolute;
    top: 33vh;
    left: 70vw;
    cursor: pointer;
    z-index: 1000;
}

#cleansedcirclecolor2{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    border: none;
    position: absolute;
    top: 33vh;
    left: 70vw;
    cursor: pointer;
    display: none;
    opacity: 0;
    z-index: 1000;
}

#cleansedvideo{
    padding: 0;
    margin: 0%;
    position: absolute;
    top: 110vh;
    left: 50vw;
    transform: translateX(-50%);
}

#cleansedname2{
    margin: 0;
    padding: 0;
    font-size: 10em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
}

#cleansedcap {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translateX(-50%);
}

#cleansedcap2 {
    width: 80vw;
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    color: white;
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translateX(-50%);
}

#cleansedcap3 {
    width: 80vw;
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    color: white;
    position: absolute;
    top: 81vh;
    left: 50vw;
    transform: translateX(-50%);
}

#homesickscroll{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 750vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    overflow: scroll;
    display: none;
}

#homesickcirclecolor{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:#1C4E03;
    border: none;
    position: absolute;
    top: 30vh;
    left: 75vw;
    cursor: pointer;
}

#homesickcirclecolor2{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    border: none;
    position: absolute;
    top: 30vh;
    left: 75vw;
    cursor: pointer;
    display: none;
    opacity: 0;
}

#homesickname2{
    height: 23vh;
    margin: 0;
    padding: 0;
    font-size: 10em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1000;
}


#homesickvideo{
    padding: 0;
    margin: 0%;
    position: absolute;
    top: 220vh;
    left: 50vw;
    transform: translateX(-50%);
}

.homesick-slider-items {
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 70vw;
    background-color:transparent;
}

.homesick-slider-image {
    max-width: 70vw;
    max-height: 80vh;
}

#homesicksi1{
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translateX(-50%);
}

#homesicksi2{
    position: absolute;
    top: 70vh;
    left: 50vw;
}
#homesicksi3{
    position: absolute;
    top: 130vh;
    left: 50vw;
    transform: translateX(-50%);
}

#homesickcap{
    width: 80vw;
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    color: white;
    position: absolute;
    top: 60vh;
    left: 50vw;
}

#homesickcap2{
    width: 30vw;
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    color: white;
    position: absolute;
    top: 160vh;
    left: 50vw;
}

#homesickcap3{
    width: 12vw;
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    color: white;
    position: absolute;
    top: 307vh;
    left: 17vw;
}

#homesickcap4{
    width: 12vw;
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    color: white;
    position: absolute;
    top: 312vh;
    left: 45vw;
}

#homesickcap5{
    width: 12vw;
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    color: white;
    position: absolute;
    top: 320vh;
    left: 73vw;
}

#homesickbts{
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 394vh;
    left: 50vw;
    transform: translateX(-50%);
}

.homesick-slider-item-2 {
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 50vw;
    background-color:transparent;
}

.homesick-slider-image-2 {
    max-width: 50vw;
    max-height: 50vh;
}

#homesicksi4{
    position: absolute;
    top: 410vh;
    left: 6vw;
}

#homesicksi5{
    position: absolute;
    top: 410vh;
    left: 51vw;

}

#homesicksi6{
    position: absolute;
    top: 465vh;
    left: 6vw;
}

#homesicksi7{
    position: absolute;
    top: 465vh;
    left: 51vw;
}

#homesicksi8{
    position: absolute;
    top: 520vh;
    left: 6vw;
}

#homesicksi9{
    position: absolute;
    top: 520vh;
    left: 51vw;
}

#homesicksi14{
    position: absolute;
    top: 520vh;
    left: 28vw;
}

#homesicksi15{
    position: absolute;
    top: 520vh;
    left: 74vw;
}

#homesicksi10{
    position: absolute;
    top: 575vh;
    left: 6vw;
}

#homesicksi11{
    position: absolute;
    top: 575vh;
    left: 51vw;
}

#homesicksi18{
    position: absolute;
    top: 630vh;
    left: 6vw;
}

#homesicksi19{
    position: absolute;
    top: 630vh;
    left: 51vw;
}

#homesicksi12{
    position: absolute;
    top: 685vh;
    left: 6vw;
}

#homesicksi13{
    position: absolute;
    top: 685vh;
    left: 51vw;
}

#homesicksi20{
    position: absolute;
    top: 685vh;
    left: 28vw;
}

#slothscroll{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 830vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    overflow: scroll;
    display: none;
}
#slothcirclecolor{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:#A98370;
    border: none;
    position: absolute;
    top: 33vh;
    left: 70vw;
    cursor: pointer;
}

#slothcirclecolor2{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    border: none;
    position: absolute;
    top: 33vh;
    left: 70vw;
    cursor: pointer;
    display: none;
    opacity: 0;
}
#slothname2{
    margin: 0;
    padding: 0;
    height: 25vh;
    font-size: 10em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1000;
}

#slothvideo{
    padding: 0;
    margin: 0%;
    position: absolute;
    top: 100vh;
    left: 50vw;
    transform: translateX(-50%);   
}

#slothname3 {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 33vh;
    left: 50vw;
    transform: translateX(-50%);
}

#slothdefinition {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 45vh;
    left: 50vw;
    transform: translateX(-50%);
}

#slothdefinition2 {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 60vh;
    left: 25vw;
}

.sloth-slider-items {
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 70vw;
    background-color:transparent;
}
.sloth-slider-image {
    max-width: 70vw;
    max-height: 80vh;
}

#slothsi1{
    position: absolute;
    top: 225vh;
    left: 50vw;
    transform: translateX(-50%);
}

#slothsi2{
    position: absolute;
    top: 300vh;
    left: 50vw;
    transform: translateX(-50%);
}

#slothsi3{
    position: absolute;
    top: 390vh;
    left: 50vw;
    transform: translateX(-50%);
}

#slothsi4{
    position: absolute;
    top: 300vh;
    left: 50vw;
}

#slothsi5{
    position: absolute;
    top: 475vh;
    left: 50vw;
    transform: translateX(-50%);
}

#slothsi6{
    position: absolute;
    top: 560vh;
    left: 50vw;
    transform: translateX(-50%);
}

#slothsi7{
    position: absolute;
    top: 560vh;
    left: 52vw;
}

#slothsi8{
    position: absolute;
    top: 650vh;
    left: 50vw;
    transform: translateX(-50%);
}

#slothsi9{
    position: absolute;
    top: 650vh;
    left: 52vw;
}

#slothsi10{
    position: absolute;
    top: 740vh;
    left: 50vw;
    transform: translateX(-50%);
}

#slothsi11{
    position: absolute;
    top: 740vh;
    left: 52.5vw;
}

#slothcap1{
    font-size: 2em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 200vh;
    left: 16vw;

}

#theofficeplaygroundscroll{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 568vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    overflow: scroll;
    display: none;
}
#officecirclecolor{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:white;
    border: none;
    position: absolute;
    top: 33vh;
    left: 70vw;
    cursor: pointer;
    z-index: 1000;
}

#officecirclecolor2{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    border: none;
    position: absolute;
    top: 33vh;
    left: 70vw;
    cursor: pointer;
    display: none;
    opacity: 0;
    z-index: 1000;
}

#theofficeplaygroundname2{
    color: white;
    font-size: 10em;
    font-weight: 100;
    position: absolute;
    top: 0vh;
    left: 50vw;
    transform: translateX(-50%);
}

#theofficeplaygroundcaption{
    width: 45vw;
    color: white;
    font-size: 2em;
    font-weight: 100;
    position: absolute;
    top: 80vh;
    left: 50vw;
    transform: translateX(-50%);
}

.office-slider-items {
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 70vw;
    background-color:transparent;
}

.office-slider-image {
    max-width: 70vw;
    max-height: 80vh;
}

#officevideo{
    position: absolute;
    top: 200vh;
    left: 50vw;
    transform: translateX(-50%);
}

#officesi1{
    position: absolute;
    top: 100vh;
    left: 34vw;
}

.office-slider-items-2 {
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 50vw;
    background-color:transparent;
}

.office-slider-image-2 {
    max-width: 50vw;
    max-height: 50vh;
}

#officesi2{
    position: absolute;
    top: 350vh;
    left: 50.75vw;
}

#officesi3{
    position: absolute;
    top: 350vh;
    left: 29.5vw;
}

#officesi4{
    position: absolute;
    top: 300vh;
    left: 49vw;
}

#officesi5{
    position: absolute;
    top: 350vh;
    left: 8vw;
}

#officesi6{
    position: absolute;
    top: 300vh;
    left: 8vw;
}

#officesi7{
    position: absolute;
    top: 400vh;
    left: 49vw;
    z-index: 1000;
}

#officesi8{
    position: absolute;
    top: 400vh;
    left: 8vw;
}

#officesi9{
    position: absolute;
    top: 500vh;
    left: 8vw;
}

#officesi10{
    position: absolute;
    top: 350vh;
    left: 72.65vw;
}

#officesi11{
    position: absolute;
    top: 450vh;
    left: 50.75vw;
}

#officesi12{
    position: absolute;
    top: 450vh;
    left: 72.45vw;
}

#officesi14{
    position: absolute;
    top: 500vh;
    left: 49vw;
}

#officesi15{
    position: absolute;
    top: 450vh;
    left: 8vw;
}

#officesi16{
    position: absolute;
    top: 450vh;
    left: 28.95vw;
}

#abysmscroll{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 800vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    overflow: scroll;
    display: none;
}

#abysmname2{
    color: white;
    font-size: 10em;
    font-weight: 100;
    position: absolute;
    top: 0vh;
    left: 50vw;
    transform: translateX(-50%);
}

#abysmdefinition {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 45vh;
    left: 20vw;
}

#abysmdefinition2 {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 50vh;
    left: 20vw;
}

#abysmdefinition3 {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 59vh;
    left: 50vw;
}

#abysmdefinition4 {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 64vh;
    left: 50vw;
}

#prevcontainer{
    padding: 0;
    margin: 0;
    width: 5vw;
    height: 10vh;
    position: absolute;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
}

#prev{
    max-width: 5vw;
    max-height: 10vh;
    cursor: pointer;
}

.abysm-slider-items {
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 50vw;
    background-color:transparent;
}

.abysm-slider-image {
    max-width: 50vw;
    max-height: 50vh;
}

.abysm-slider-image-3 {
    max-width: 80vw;
    max-height: 80vh;
}
.abysm-slider-items-2 {
    margin: 0;
    padding: 0;
    height: 120vh;
    width: 100vw;
    background-color:transparent;
}

.abysm-slider-image-2 {
    max-width: 100vw;
    max-height: 120vh;
}

.abysm-slider-items-4 {
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 80vw;
    background-color:transparent;
}

.abysm-slider-image-4 {
    max-width: 80vw;
    max-height: 80vh;
}
.abysm-slider-items-5 {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 70vw;
    background-color:transparent;
}

.abysm-slider-image-5 {
    max-width: 70vw;
    max-height: 100vh;
}

#abysmsi1{
    position: absolute;
    top: 106vh;
    left: 50vw;
    transform: translateX(-50%);
}

#abysmsi2{
    position: absolute;
    top: 160vh;
    left: 50vw;
    z-index: 1000;
}

#abysmsi4{
    position: absolute;
    top: 245vh;
    left: 20vw;
}

#abysmsi5{
    position: absolute;
    top: 160vh;
    left: 8vw;
    z-index: 1000;
}

#abysmsi6{
    position: absolute;
    top: 250vh;
    left: 0vw;
}

#abysmsi7{
    position: absolute;
    top: 330vh;
    left: 5vw;
}

#abysmsi8{
    position: absolute;
    top: 400vh;
    left: 40vw;
}

#abysmsi9{
    position: absolute;
    top: 400vh;
    left: 60vw;
}
#abysmsi10{
    position: absolute;
    top: 500vh;
    left: 10vw;
}

#abysmsi11{
    position: absolute;
    top: 570vh;
    left: 6vw;
}

#abysmsi12{
    position: absolute;
    top: 430vh;
    left: 6vw;
}
#abysmsi13{
    position: absolute;
    top: 570vh;
    left: 27vw;
}

#abysmsi14{
    position: absolute;
    top: 600vh;
    left: 62vw;
}

#abysmsi15{
    position: absolute;
    top: 680vh;
    left: 20vw;
}

#abysmmarquee{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 10em;
    color: white;
    position: absolute;
    top: 560vh;
    left: 100vw;
    z-index: 1000;
    display: inline-block;
    animation: scroll-left 10s linear infinite;
}

#abysmmarquee2{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 10em;
    color: white;
    position: absolute;
    left: 100vw;
    top: 560vh;
    z-index: 1000;
    animation: scroll-left 10s linear infinite;
    animation-delay: 5s;
}

@keyframes scroll-left {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-170%, 0);
    }
  }

    /* -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
    }
        
    @-moz-keyframes scroll-left {
        0% {
        -moz-transform: translateX(100%);
        }
        100% {
        -moz-transform: translateX(-100%);
        }
    }
        
    @-webkit-keyframes scroll-left {
        0% {
        -webkit-transform: translateX(100%);
        }
        100% {
        -webkit-transform: translateX(-100%);
            }
    }
        
    @keyframes scroll-left {
        0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        }
    } */


#fakecontainer1{
    width: 43vw;
    height: 50vh;
    z-index: 10000;
    color:transparent;
    position: absolute;
    top: 160vh;
    left: 8vw;
    cursor: pointer;
}
#fakecontainer2{
    width: 47vw;
    height: 50vh;
    z-index: 10000;
    color:transparent;
    position: absolute;
    top: 160vh;
    left: 50vw;
    cursor: pointer;
}

#abysmcircle{
    width: 30vh;
    height: 30vh;
    background-color: transparent;
    position: absolute;
    top: 180vh;
    left: 22vw;
}


#abysmcirclename2{
    max-width: 30vh;
    max-height: 30vh;
    animation: rotation 13s infinite linear;
}

#abysmcircle2{
    width: 30vh;
    height: 30vh;
    background-color: transparent;
    position: absolute;
    top: 745vh;
    left: 12vw;
    z-index: 1000;
}


#abysmcirclename{
    max-width: 30vh;
    max-height: 30vh;
    animation: rotation 13s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#abysmcap{
    padding: 0;
    margin: 0;
    width: 30vw;
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 520vh;
    left: 60vw;

}

#agtscroll{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 1000vh;
    display: none;
}

#agtcontainer{
    background-color: tomato;

}
.agt-slider-items{
    width: 50vw;
    height: 50vh;
    background-color:transparent;
}

.agt-slider-image{
    max-width: 50vw;
    max-height: 50vh;
}

#agtsi1{
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
}
